.cityName {
  font-size: 2.5rem;
  margin: 5px 0;
}
.presentDate {
  font-size: 1.1rem;
  color: rgb(87, 82, 82);
  margin: 0;
}

@media screen and (max-width: 380px) {
  .cityName {
    font-size: 1.5rem;
  }
}
