.Homepage-container {
  width: 70%;
  height: 70%;
  background-color: white;
  margin: auto;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 2px 1px 11px 6px rgba(0, 0, 0, 0.25);
}
.Weatheryy-logo {
  width: 15rem;
  height: 15rem;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Weatheryy-Intro {
  background: linear-gradient(#de5fa0, #52a4ea);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.Weatheryy-Start-Button {
  width: 30%;
  padding: 1.5rem;
  background-color: rgba(137, 223, 251, 0.35);
  position: relative;
  left: 35%;
  border: none;
  outline: none;
  font-size: 1.75rem;
  border-radius: 2rem;
  color: ;
}
span {
  background: linear-gradient(#de5fa0, #52a4ea);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
