.forecast-container {
  margin-top: 3rem;
}
.forecastHeading {
  font-size: 1.5rem;
}
.temp-pills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}
.pill-container {
  width: 7%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double 2px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #de5fa0, #52a4ea);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.weather-logo {
  width: 4.5rem;
  height: 4.5rem;
}
.specifiedTime,
.specifiedTemp {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.forecastTab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: double 2px transparent;
  border-radius: 2rem;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #de5fa0, #52a4ea);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 1rem 0;
}
.infoHeading {
  font-size: 1rem;
  color: #494949;
}
.infoData {
  font-size: 1.5rem;
}
.infoConatainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 374px) {
  .forecastHeading {
    font-size: 1.5rem;
  }
  .temp-pills-container {
    flex-wrap: wrap;
    margin: 0;
  }
  .pill-container {
    width: 20%;
    margin-top: 1rem;
  }
  .weather-logo {
    width: 3.5rem;
    height: 3.5rem;
  }
  .specifiedTime,
  .specifiedTemp {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .infoData {
    font-size: 0.75rem;
    color: black;
  }
  .infoHeading {
    font-size: 0.75rem;
  }
  .infoConatainer {
    align-items: flex-start;
  }
  .low-temp,
  .high-temp,
  .wind-speed,
  .rain-volume {
    text-indent: -9999px;
    line-height: 0;
  }
  .low-temp::after {
    content: "Low";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
  .high-temp::after {
    content: "High";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
  .wind-speed::after {
    content: "Wind";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
  .rain-volume::after {
    content: "Rain";
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}
