.WeatherDeatils-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.tempInfo {
  width: 40%;
  height: auto;
  border-right: 1px solid black;
  display: flex;
  flex-direction: row;
}

.additionalInfo {
  width: 60%;
  height: auto;
  border-left: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0 1.75rem;
  // background-color: #2196f3;
  // padding: 10px;
}

.climate-icon-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.climateIcon {
  width: 90%;
  height: 90%;
  padding: 2rem;
}
.Climate-info-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    display: flex;
    justify-content: center;
  }
}
.Today_temp {
  font-size: 6rem;
  margin: 0;
}
.Today_climate {
  font-size: 1.25rem;
  margin: 0;
  text-transform: capitalize;
}
.grid-item {
  padding-top: 0.5rem;
  font-size: 30px;
}
.info-heading {
  font-size: 1rem;
  color: rgb(73, 73, 73);
}
.info-details {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 420px) {
  .WeatherDeatils-container {
    flex-direction: column;
    margin-top: 0;
  }
  .tempInfo {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid black;
  }
  .additionalInfo {
    width: 100%;
    border: none;
    grid-template-columns: auto auto;
    padding: 0;
  }
  .Today_climate {
    font-size: 0.8rem;
  }
  .Today_temp {
    font-size: 5rem;
  }
  .info-details {
    font-size: 1.5rem;
  }
  .info_heading {
    font-size: 0.85rem;
  }
  .grid-item {
    padding-top: 0.5rem;
    font-size: 30px;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 325px) {
  .Today_temp {
    font-size: 4rem;
  }
  .info-heading {
    font-size: 0.8rem;
  }
  .info-details {
    font-size: 1.25rem;
  }
}
